<section class="about section" id="about">
	<div class="about-content  grid">
		<div class="about-data">
			<h1 class="about-title">
				Rick Alves
			</h1>
			<h3 class="about-subtitle">
				Full Stack Developer
			</h3>
			<p class="about-text">
				testes descrição, aaaaa bbbbb ccccc dddddd eeeeeeeeeee fffffffffffff gggggggggggggg hhhhhhhhhhhh.
			</p>
			<button class="button" href="#contact">
				<span>
					Contate-me
				</span>
				<i class="uil uil-message contact-icon"></i>
			</button>
		</div>
	</div>
</section>

