<header class="header" id="header">
	<nav class="nav container">

		<div class="nav-title">
			<a href="#">Rick Alves</a>
		</div>

		<div class="nav-menu" id="nav-menu">
			<ul class="nav-list grid">
				<li class="nav-item">
					<a class="nav-link" href="#home"(click)='navLinkClick()' >
						<i class="uil uil-estate"></i>
						<span>Home</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="#about" (click)='navLinkClick()'>
						 <i class="uil uil-user"></i>
						<span>Sobre</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#experience" (click)='navLinkClick()'>
						 <i class="uil uil-briefcase-alt"></i>
						<span>Experiência</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="#portfolio" (click)='navLinkClick()'>
						 <i class="uil uil-file-alt"></i>
						<span>Portfolio</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="#contact" (click)='navLinkClick()'>
						 <i class="uil uil-message"></i>
						<span>Contato</span>
					</a>
				</li>
			</ul>
			<div  class="nav-close" id="nav-close" (click)='navToggleCloseMenu()'>
				<i class="uil uil-times"></i>
			</div>
		</div>
		<div class="nav-buttons" >
			<div class="nav-lang" id="nav-lang">
				<i class="uil uil-globe"></i>
			</div>
			<div class="nav-toggle" id="nav-toggle" (click)='navToggleShowMenu()'>
				<i class="uil uil-bars"></i>
			</div>
		</div>
	</nav>
</header>
