header
{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-index-fixed);
	background-color: var(--body-color);
}

.nav
{
	max-width: var(--body-container);
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-title,
.nav-lang,
.nav-toggle
{
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

.nav-buttons
{
	display: flex;
}

.nav-buttons div
{
	margin-right: .5rem;
}

.nav-buttons div:last-child
{
	margin-right: 0;
}

.nav-lang,
.nav-toggle
{
	cursor: pointer;
	font-size: 1.1rem;
}

.nav-lang:hover,
.nav-toggle:hover,
.nav-title:hover,
.nav-item:hover,
.nav-item.active
{
	color: var(--first-color);
}

.nav-list
{
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.nav-link
{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--small-font-size);
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav-close
{
	position: absolute;
	right: 8.5%;
	bottom: .5rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--first-color);
}

.nav-close:hover
{
	color: var(--first-color-alt);
}

.show-menu
{
	bottom: 0;
}
