<section class="home section" id="home">
	<div class="home-content container grid">
		<!-- Social -->
		<div class="home-social">
			<a class="home-social-item" href="https://www.linkedin.com/in/rickalves07/" target="_blank">
				<i class="uil uil-linkedin-alt"></i>
			</a>
			<a class="home-social-item" href="https://github.com/RickAlves07" target="_blank">
				<i class="uil uil-github-alt"></i>
			</a>
		</div>
		<!-- Home conteudo -->
		<div class="home-photo">
			<div id="mask-pic">
				<img src="../../../assets/images/profile.png" class="img-profile">
			</div>
		</div>
		<div class="home-data">
			<h1 class="home-title">
				testes titulo
			</h1>
			<h3 class="home-subtitle">
				testes subtitulo
			</h3>
			<p class="home-subtitle">
				testes descrição, aaaaa bbbbb ccccc dddddd eeeeeeeeeee fffffffffffff gggggggggggggg hhhhhhhhhhhh.
			</p>
			<button class="button" href="#contact">
				<span>
					Contate-me
				</span>
				<i class="uil uil-message"></i>
			</button>
		</div>
	</div>
</section>

