.home-photo
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.img-profile
{
	padding-top: 3.6em;
	padding-left: 1em;
	animation: spinPhoto 30s linear infinite;
}

@keyframes spinPhoto
{ 100%
	{
		transform: rotate(-360deg);
	}
}

.button
{
	display: inline-flex;
	background-color: var(--first-color);
	font-weight: var(--font-medium);
	color: #fff;
	align-items: center;
}

.button:hover
{
	background-color: var(--first-color-alt);
}

.contact-icon
{
	font-size: var(	--h2-font-size);
	margin-left: .5rem;
	transition: .3s;
}
