.home-photo
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.img-profile
{
	padding-top: 3.6em;
	padding-left: 1em;
	animation: spinPhoto 30s linear infinite;
}

@keyframes spinPhoto
{ 100%
	{
		transform: rotate(-360deg);
	}
}
