// font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root
{
	//body
	--body-font: 'Nunito', sans-serif;
	--body-container: 83.333333%;
	--max-body-container: 1600px;
	--border-radius-default: .5rem;
	--body-frame: 8.3333335%;

	//header
	--header-height: 3rem;
	--header-font-size: 1.25rem;

	//colors
	--base-color: 0; //red base (0, 84%, 59%)
	--light-color: 0; //white base (0, 0%, 100%)
	--dark-color: 0; //black base (0, 0%, 18%)

	--first-color: hsl(var(--base-color), 84%, 59%);
	--second-color: hsl(var(--base-color), 69%, 61%);
	--first-color-alt: hsl(var(--base-color), 57%, 53%);
	--first-color-lighter: hsl(var(--base-color), 92%, 85%);
	--title-color: hsl(var(--base-color), 8%, 15%);
	--text-color: hsl(var(--base-color), 8%, 45%);
	--text-color-light: hsl(var(--base-color), 8%, 65%);
	--input-color: hsl(var(--base-color), 70%, 96%);
	--body-color: hsl(var(--base-color), 60%, 99%);
	--container-color: hsl(var(--base-color), 0%, 100%);

	//font-sizes
	//default
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 1rem;
	--small-font-size: .8rem;
	--smaller-font-size: .75rem;

	//weight
	--font-medium: 600;
	--font-semi-bold: 700;

	//z-index
	--z-index-tooltip: 10;
	--z-index-fixed: 100;
	--z-index-modal: 1000;
}

//INIT - Config
body
{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	// background-color: var(--body-color);
	background-color: rgb(255, 226, 226);
	color: var(--text-color);
	width: var(--body-container);
	max-width: var(--max-body-container);
	margin: 0 var(--body-frame);
}

.container
{
	max-width: var(--body-container);
	margin: 0 auto;
}

.grid
{
	display: grid;
	gap: 1.5rem;
}

h1, h2, h3, h4
{
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

// h1:before,
// h2:before,
// h3:before,
// h4:before
// {
// 	content: '<';
// 	color: var(--first-color-alt);
// }

// h1:after,
// h2:after,
// h3:after,
// h4:after
// {
// 	content: '/>';
// 	color: var(--first-color-alt);
// }

.uil //icons
{
	font-size: 1.5rem;
}

.section
{
	background-color: rgb(184, 184, 255);
	padding: var(--body-frame) 0;
	height: 100vh;
}

.section-title
{
	font-size: var(--h1-font-size);
}

.section-subtitle
{
	display: block;
	font-size: var(--small-font-size);
	margin-bottom: 3rem;
}

.section-title,
.section-subtitle
{
	text-align: center;
}

.hidden svg
{
	width: 0px;
	height: 0px;
	position: absolute;
}
// END - config

// INIT - reset default styles html
*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html
{
	scroll-behavior: smooth;
}

ul, li
{
	list-style: none;
}

a,
a:-webkit-any-link
{
	text-decoration: none;
	color: var(--title-color);
}

a:hover,
a:-webkit-any-link:hover
{
	color: var(--first-color);
}

img
{
	max-width: 100%;
	height: auto;
}

button
{
	cursor: pointer;
	border: none;
	padding: 1rem;
	border-radius: var(--border-radius-default);
}
// END - reset default styles html

// INIT - media screen globals
$media-query-968: 968px;
$media-query-767: 767px;

@media screen and (min-width: $media-query-968)
{
	:root
	{
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1.2rem;
		--small-font-size: .1rem;
		--smaller-font-size: .9rem;
	}
}

//nav-menu
@media screen and (max-width: $media-query-767)
{
	.nav-menu
	{
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: var(--body-color);
		padding: 2rem 1.5rem 4rem;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
		border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
		transition: .3s;
	}
}
// END - media screen globals

// INIT - masks
#mask-pic
{
	clip-path: url(#svg-mask-hexagon);
	overflow: hidden;
	background-color: var(--first-color);
	display: flex;
	align-items: center;
	max-width: 300px;
	max-height: 342.62px;
	min-width: 200px;
	min-height: 242.62px;
	animation: spinMask 30s linear infinite;
}
// END - masks

// INIT - global animations
@keyframes spinMask
{ 100%
	{
		transform: rotate(360deg);
	}
}
// END - global animations
